.App {
  font-family: sans-serif;
  text-align: center;
}
.btn:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.btn {
  height: 40px;
  background: skyblue;
  textdecoration: none;
  border: none;
  padding: 12px 40px;
  fontsize: 16px;
  backgroundcolor: green;
  color: #fff;
  borderradius: 5px;
  boxshadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.topicList {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}
